*{
    margin: 10px;
}
h1{
    color: rgb(89, 4, 169);
}
.btn{
    color:rgb(89, 4, 169);
    font-size: large;
    font-weight: bolder;
    border: 2px slateblue solid;
    border-radius: 5px;
}
#lines{
    background-color: rgba(44, 2, 71, 0.515);
    color:white;
}
.bl{
    color: rgb(81, 3, 153);
    font-weight:bold ;
}